<h1>{{title}}</h1>
<p>Create bank account</p>
<div>
    <!-- For payment collection -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="/javascripts/jquery.payment.min.js"></script>

<h2>{{token}} was stored.</h2>

<form novalidate autocomplete="on" method="POST" id="payment-form" action="/client-save-account-token">
    <span class="payment-errors"></span>
    <label for="name" class="col-sm-2 control-label">Account Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="accountId" name="accountId" placeholder="AccountId" value="acct_194tFUJjUjxOb2VC">
        </div>

        <div class="form-group">
            <label for="country" class="col-sm-2 control-label">Country</label>
            <input type="text" class="form-control" id="country" name="country" placeholder="Country" value="DE">
        </div>

        <div class="form-group">
            <label for="routing-number" class="col-sm-2 control-label">Routing Number</label>
            <input type="text" class="form-control routing-number" id="routing-number" name="routing-number" placeholder="" value="">
        </div>

        <div class="form-group">
            <label for="account-number" class="col-sm-2 control-label">Account Number (IBAN)</label>
            <input type="text" class="form-control" id="account-number" name="account-number" placeholder="" value="DE89370400440532013000">
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Account holder name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Please enter name" value="Martin Lopez">
        </div>

        <div class="form-group">
            <label for="account_holder_type" class="col-sm-2 control-label">Account holder type</label>
            <input type="text" class="form-control" id="account_holder_type"
                name="account_holder_type" placeholder="Please enter type" value="individual">
        </div>

        <div class="form-group">
            <label for="currency" class="col-sm-2 control-label">Currency</label>
            <input type="text" class="form-control" id="currency"
                name="currency" placeholder="EUR" value="eur">
        </div>

      <input type="hidden" id="token" />
      <button type="submit" class="btn btn-lg btn-primary">Submit</button>

</form>
<p id="payment-result"></p>
</div>

<script type="text/javascript">
    Stripe.setPublishableKey('{{publicKey}}');

      var $form = $('#payment-form');
      var $result = $('#payment-result');
      $(function() {
        $form.submit(function(event) {
          $form.find('.errors').text('');
          $form.find('.submit').prop('disabled', true);
          console.log(1);
          var routingNumber = $('#routing-number').val();
          var country = $('#country').val().toUpperCase();
          if (Stripe.bankAccount.validateRoutingNumber(routingNumber, country)) {
              // valid input goes here
              console.log(2);

              var bankAccount = {
                  country: country,
                  currency: $('#currency').val(),
                //   routing_number: routingNumber,
                  account_number: $('#account-number').val(),
                  account_holder_name: $('#name').val(),
                  account_holder_type: $('#account_holder_type').val()
              };
              console.log(JSON.stringify(bankAccount));
              Stripe.bankAccount.createToken(bankAccount, stripeResponseHandler);

          } else {
              console.log(3);
            $form.find('.errors').text('Please enter valid test bank account information.');
            $form.find('.submit').prop('disabled', false);
          }
          console.log(4);
          return false;
        });
      });

      function stripeResponseHandler(status, response) {
          // Grab the form:
         var $form = $('#payment-form');

         if (response.error) { // Problem!

           // Show the errors on the form:
           console.log(JSON.stringify(response.error));
           console.log(response.error.message);
           $form.find('.errors').text(response.error.message);
           $form.find('.submit').prop('disabled', false); // Re-enable submission

         } else { // Token was created!

           // Get the token ID:
           var token = response.id;
           console.log('TOKEN=' + token);
           // Insert the token ID into the form so it gets submitted to the server:
           $form.append($('<input type="hidden" name="token">').val(token));

           // Submit the form:
           $form.get(0).submit();
         }
      };

</script>
