<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div>
          <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="/client-create">Client Create Account</a></li>
                <li><a href="/client-update">Client Update Account</a></li>
                <li><a href="/add-card">Add card</a></li>
                <li><a href="/client-list-accounts-form">Client Accounts</a></li>
                <li><a href="/client-manage">Client Manage</a></li>
                <li><a href="/provider-create">Provider Create</a></li>
                <li><a href="/provider-manage">Provider Manage</a></li>
            </ul>
        </nav>
    </div>
    <br/>
    <div class="jumbotron"> <p>
    {{{body}}}
    </p></div>
    </div>
  </body>
</html>
